@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*=================== BASE ===================*/
:root {
  --dark-gray: #2f2f2f;
  --light-gray: #6a6a6a;
  --blue: #2f4d76;
  --yellow: #FFD700;
  --box-bgcolor: rgba(112, 129, 123, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #EFF2F1;
  color: var(--light-gray);
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/*=================== NAV ===================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  padding: 1rem 2rem;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 100px;
}

nav .nav-links {
  font-size: 20px;
  display: flex;
  flex: 0,50;
  justify-content: center;
  gap: 3rem;
  padding-left: 30rem;
}
.ri-shopping-cart-line {
  color: rgb(255, 255, 255);
  padding: 0 100px;
}
nav .nav-links li {
  position: relative;
  margin-left: 20px;
}

nav .nav-links li a {
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

nav .nav-links li a:hover {
  color: var(--yellow);
}

nav .nav-links li a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  transition: width 0.3s ease;
}

nav .nav-links li a:hover::after {
  width: 80%;
}

nav .ri-shopping-cart-line {
  font-size: 2rem;
  cursor: pointer;
  transition: font-size 0.3s ease;
}
nav .ri-shopping-cart-line:hover {
  font-size: 2.1rem;
}

/*=================== MAIN ===================*/
.shop {
  text-align: center;
  padding: 2rem;
}
.shop h2 {
  font-size: 2.5rem;
  margin-top: 3rem ;
  margin-bottom: 1rem;
  color: var(--dark-gray);
}

nav .nav-links li a {
  position: relative;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

nav .nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;  
  bottom: -5px; 
  width: 0%; 
  height: 3px; 
  background-color: var(--yellow); 
  transition: width 0.3s ease; 
}

nav .nav-links li a:hover::after {
  width: 100%; 
}


.products {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0rem;
  justify-content: center;
  margin-top: 2rem;
}

.product {
  position: relative;
  padding: 0.5rem;
  gap: rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.product-bg {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 70%;
  height: 70%;
  background-color: var(--box-bgcolor);
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  
}

.product:hover .product-bg {
  opacity: 7;
  
}

.product img {
  max-width: 80%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.product h4 {
  margin: 0.5rem 0;
  color: var(--dark-gray);
  transition: transform 0.3s ease;
}

.product p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: var(--dark-gray);
  transition: transform 0.3s ease;
}

.product:hover img, .product:hover h4, .product:hover p {
  transform: translateY(-20px);
}

.add-to-cart {
  position: absolute;
  bottom: -20px; /*Burada artı butonunun hower efektivinden önce konumlanacağı yeri ayarlıyoruz. eğer hover efecti ile aynı değeri verirsek bi anda ortaya çıkar.*/
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease, transform 0.3s ease;
}

.product:hover .add-to-cart {
  opacity: 1;
  bottom: -45px; /*hover efectinden sonra artı işaretinin nerede konumlanacağını seçiyoruz*/
}

/*=================== RESPONSIVE DESIGN ===================*/
